@import './../../assest/sass/variables';
@import './../../assest/sass/mixins';

.work_page {
    // min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $light-navy;
    padding: 24px 0;
}

.container {
    @include container
}

.work_row {
    display: flex;
    justify-content: space-between;


    .animation {
        width: 39%;
        text-align: center
    }

    .work_experience {
        width: 59%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            @include primary-title;
            color: $navy;
            position: relative;

            &::before {
                content: "Experience";
                position: absolute;
                left: -38px;
                top: -6px;
                transform: rotate(-27deg);
                font-size: 10px;
                color: white;
            }
        }

        .work_time_line {
            position: relative;
            padding: 8px 16px;
           
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.2);
           
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            margin-top: 12px;
            

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 5px;
                height: 100%;
                background-color: $navy;
                border-radius: 10px;
            }

            .company_info {
                &:last-child {
                    margin-top: 32px;
                }

                .company_links {
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                   

                    p {
                        margin-right: 8px;
                        font-weight: 500;
                    }

                    a {
                        color: $white;
                        font-family: $primary-font;
                        text-decoration: none;
                    }
                }

                .date {
                    font-weight: $secondary-font-weight;
                    font-size: 13px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 4px;
                    margin-left: 4px;
                    position: relative;


                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-top: 4px solid transparent;
                        border-left: 8px solid #0a222f;
                        border-bottom: 4px solid transparent;
                        left: -15px;
                        top: 8px;
                    }

                    p{
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}