@mixin keyframes {
    @keyframes width0to100 {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @keyframes scroll-down {
        from {
           opacity: 1;
        }
        to {
            opacity: 0;
            top: 40px;
            height: 5px;
        }
    }
}