//fonts
$regular-font: 'Roboto', sans-serif;
$primary-font:'Kalam', cursive;
$primary-font-weight:700;

//colors
//background-color
$navy:#0a222f;

//text-color
$light-navy:#5fc9ab;

$gray:#8d8d8d;
$white:#f7fffb;