//fonts
$regular-font: 'Roboto', sans-serif;
$primary-font:'Kalam', cursive;
$primary-font-weight:700;
$secondary-font-weight:500;
$title-size: clamp(30px,5vw,40px);
//colors
//background-color
$navy:#0a222f;

//text-color
$light-navy:#5fc9ab;

$gray:#8d8d8d;
$white:#f7fffb;